<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Music Hack</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="dns-prefetch" href="//fonts.googleapis.com" />

    <link rel="stylesheet" href="/css/common.css" />
   
    <script src="/js/libs/modernizr-2.6.2.js"></script>
  </head>
  <body data-page-id="answer">

    <div class="site-wrapper">

      <h1>Name</h1>

      <a href="#" onclick="document.getElementById('song').play();">PLAY!</a>

<audio id="song" src="http://api.ent.nokia.com/1.x/gb/products/47560659/sample/?domain=music&app_id=_WN7DlNjki_uTKc7kY1A"></audio>

      <ul>
    {{#each items}}
        <li>
          <a href="#" onclick="document.getElementById('song-{{id}}').play();">PLAY!</a>
          <audio id="song-{{id}}" src="http://api.ent.nokia.com/1.x/gb/products/{{id}}/sample/?domain=music&app_id=_WN7DlNjki_uTKc7kY1A"></audio> - {{name}}</li>
      {{/each}}
    </ul>

      <input type="text" class="name" />

      <a href="" class="button">Play</a>

    </div>
  </body>
</html>