<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->

  <head>
    <meta char  t="utf-8" />
    <title>MusicMatch.io</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="AKQA" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="stylesheet" href="/css/common.css" />
   
    <script src="/js/libs/modernizr-2.6.2.js"></script>
  </head>
  <body>x
    <div class="container">
      <h1>MusicMatch.io</h1>

      <div class="intro">
        <p>
        Take off the headphones, turn down the radio and put your music trivia knowledge to the test using MusicMatch.io.
        </p>

        <p>Play on your own and try to gain a place on our global leaderboard, or invite your friends. It's entirely up to you!</p>
      </div>

      <form action="/play">
        <input type="text" class="name" placeholder="Enter your name..." required />
        <input type="submit" href="/play" class="button" value="Play" />
      </form>
    </div>

    <script src="/js/libs/jquery-1.10.2.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>