<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->

  <head>
    <meta char  t="utf-8" />
    <title>MusicMatch.io</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="AKQA" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="stylesheet" href="/css/common.css" />
   
    <script src="/js/libs/modernizr-2.6.2.js"></script>

    <script>
      var channelId = '{{ channelId }}';
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>MusicMatch.io</h1>
      </header>

      <audio id="song-sample" src="about:blank"></audio>

      <section class="page active" data-page-id="index">
        <div class="intro">
          <p>Take off the headphones, turn down the radio and put your music trivia knowledge to the test using MusicMatch.</p>

          <p>Play on your own and try to gain a place on our global leaderboard, or invite your friends. It's entirely up to you!</p>
        </div>

        <form action="/play">
          <input type="text" class="name" placeholder="Enter your name..." required />
          <a href="/loading" class="navigate button">Play</a>
        </form>

      </section>

      <section class="page" data-page-id="loading">
        <ul class="countdown">
          <li class="loading current">Loading...</li>
          <li class="count-3">3</li>
          <li class="count-2">2</li>
          <li class="count-1">1</li>
        </ul>
      </section>

      <section class="page" data-page-id="question">

        <ul class="answer-options">
          {{#each results}}
          <li><a href="#" data-icon="check" data-music-id="{{this.id}}">{{ this.name }}</a></li>
          {{/each}}
        </ul>

        <div class="remaining">
          <p class="timer"><span></span></p>
        </div>

      </section>

      <section class="page" data-page-id="answerCorrect">
      
        <h2>Correct!</h2>
        <p class="intro">Your Score: 5</p>
        <div class="answer">
          <img src="http://download.ch1.vcdn.nokia.com/p/d/music_image/100x100/300987.jpg" />
          <p class="artist">Beyonc&eacute;</p>
          <p class="song">All the single ladies</p>       
        </div>

      </section>

      <section class="page" data-page-id="answerWrong">
      
        <h2>Wrong!</h2>
        <p>Your Score: 5</p>
        <div class="answer">
          <img src="http://download.ch1.vcdn.nokia.com/p/d/music_image/100x100/300987.jpg" />
          <p class="artist">Beyonc&eacute;</p>
          <p class="song">All the single ladies</p>       
        </div>

      </section>

    </div>
      

    <script src="/js/libs/jquery-1.10.2.min.js"></script>
    <script src="/js/libs/fittext.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>